.autofill-transparent:-webkit-autofill,
.autofill-transparent:-webkit-autofill:hover,
.autofill-transparent:-webkit-autofill:focus,
.autofill-transparent:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-background-clip: text !important;
  background-color: transparent !important;
  background-image: none !important;
  transition: background-color 5000s ease-in-out 0s;
}

.autofill-transparent:-webkit-autofill {
  -webkit-text-fill-color: hsl(var(--foreground)) !important;
}

.autofill-transparent:-moz-autofill {
  background-color: transparent !important;
  background-image: none !important;
}
